.angry_wynik{
    color: rgb(182, 14, 14);
    font-size: 30px;
}
.angry_bok{
    border: 1px solid red;
    border-radius: 5px;
    color:rgb(182, 14, 14);
}
.happy_bok{
    border: 1px solid rgb(12, 85, 18);
    border-radius: 5px;
    color:green;
}


