*{
    margin: 0px;
    padding: 0px;
}
/* 

#blok{
    width: 200px;
    height: 200px;
    background-color: aqua;
    text-align: center;
}

article{
    border: 3px solid black;
    width: 300px;
    height: 300px;
}

.night{
    background-color: black;
    color: white;
    
}
.day{
    background-color: white;
    color: black;
}


#lista{
    background-color: rgb(116, 116, 84);
    width: 300px;
    border: 1px solid black;
}

#lista > li{ */
    /* background-color: yellow; */
    /* margin-top: 1px;
    list-style-type: square;
} */






/* koniec zakomentowanej części 1 */




body{
    background-color: black;
}


#kalendarz{
    padding: 10px;
    width: 1500px;
    /* background-color: paleturquoise; */
    background-color: rgb(44, 37, 16);
    border: rgb(0, 96, 221);
    height: 1060px;
}



.blok_dzien{
    /* background-color: rgb(155, 137, 131); */
    border:  2px solid blue;
    width: 180px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
}
.notatka{
    font-size: 16x;
    line-height: 150%;
    font-weight: normal;
}
#delete{
    margin: 20px;
    width: 200px;
    background-color: cornsilk;
    border:  4px solid rosybrown;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;

}